body {
    margin: 0;
    background-color: honeydew;
}

.container {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px 0;
}
.sliders_window {
    border-radius: 5px;
}
h1 {
    text-align: center;
}
li {
    font-size: larger;
    margin-bottom: 10px;
}